#container {
    background-color: #f0f0f0;
    width: 960px;
    padding: 10px;
    margin: 0 auto;
}
#container>* {
    padding: 10px;
}

/* --------- header --------- */
header {
    background-color: #908886;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
header ul {
    list-style: none;
    padding-right: 20px;
    margin-bottom: 0px;
    
    display: flex;
    justify-content: flex-end;
}
header li:not(:last-of-type)::after {
    content: "|";
}
header li > a {
    padding: 0 10px;
    color: #000;
    text-decoration: none;
}
header li > a:hover {
    color: #fff;
}

/* --------- section --------- */
section {
    background-color: #f5f5f5;
    width: 640px;
    height: 400px;
    float: left;
}



/* ---------- aside ---------- */
aside {
    background-color: #DCDAD9;
    width: 280px;
    height: 400px;
    float: right;
}


/* --------- footer --------- */
footer {
    background-color: #555;
    height: 100px;
    clear: both;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer h3 {
    margin: 0;
}
footer p {
    text-align: center;
    margin: 0;
    margin-bottom: 16px;
}
